[submodule "contrib-prompt/external/garrett"]
	path = contrib-prompt/external/garrett
	url = https://github.com/chauncey-garrett/zsh-prompt-garrett.git
[submodule "contrib-prompt/external/lean"]
	path = contrib-prompt/external/lean
	url = https://github.com/miekg/lean.git
[submodule "contrib-prompt/external/spaceship"]
	path = contrib-prompt/external/spaceship
	url = https://github.com/denysdovhan/spaceship-zsh-theme.git
[submodule "alias-tips/external"]
	path = alias-tips/external
	url = https://github.com/djui/alias-tips.git
[submodule "fzf-marks"]
	path = fzf-marks
	url = https://github.com/urbainvaes/fzf-marks
