[submodule "contrib-prompt/external/garrett"]
	path = contrib-prompt/external/garrett
	url = https://github.com/chauncey-garrett/zsh-prompt-garrett.git
[submodule "contrib-prompt/external/lean"]
	path = contrib-prompt/external/lean
	url = https://github.com/miekg/lean.git
[submodule "contrib-prompt/external/spaceship"]
	path = contrib-prompt/external/spaceship
	url = https://github.com/denysdovhan/spaceship-zsh-theme.git
[submodule "alias-tips/external"]
	path = alias-tips/external
	url = https://github.com/djui/alias-tips.git
[submodule "enhancd/external"]
	path = enhancd/external
	url = https://github.com/b4b4r07/enhancd.git
[submodule "tmux-xpanes/external"]
	path = tmux-xpanes/external
	url = https://github.com/greymd/tmux-xpanes.git
[submodule "fzy/external"]
	path = fzy/external
	url = https://github.com/aperezdc/zsh-fzy.git
